*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
}

:root {
    --hue-neutrel: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.counts {
    display: flex;
    justify-content: space-around;
    color: cornsilk;
    padding: 3px;
    font-weight: bold;
}

.container {
    padding: 15px;
    width: 800px;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 6px;
    box-shadow: 0 0 10px 2px;
    margin-left: 29%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutrel);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    background-color: hsl(var(--hue), 100%, 20%);
    color: cornsilk;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong)
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}